-- SQL untuk menambahkan status 'inactive' ke tabel users
-- Jalankan query ini di database untuk menambahkan status 'inactive'

-- Update kolom status untuk mendukung status 'inactive'
ALTER TABLE users MODIFY COLUMN status ENUM('active', 'suspended', 'inactive') DEFAULT 'active';

-- Atau jika kolom status belum ada, tambahkan dengan:
-- ALTER TABLE users ADD COLUMN status ENUM('active', 'suspended', 'inactive') DEFAULT 'active' AFTER role;

-- Verifikasi perubahan
DESCRIBE users;
